<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="" class="img-thumbnail">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-success">To Shopping List</button>
      <button type="button" class="btn btn-warning">Edit Recipe</button>
      <button type="button" class="btn btn-danger">Delete Recipe</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
