<div class="container">

  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>

  <hr>

  <div class="row">
    <div class="col-10">
      <button class="btn btn-dark" (click)="onChangeFirst()">First change</button>
      <button class="btn btn-danger ml-2" (click)="destroyFirstComponent()">Destroy first element</button>
      <app-server-element
        *ngFor="let serverEl of serverElements"
        [srvElement]="serverEl"
        [name]="serverEl.name"
      >

        <p #contentParagraph>
          <strong *ngIf="serverEl.type === 'server'" style="color: red">{{ serverEl.content }}</strong>
          <strong *ngIf="serverEl.type === 'blueprint'" style="color: blue">{{ serverEl.content }}</strong>
        </p>

      </app-server-element>
    </div>
  </div>









  <!--<div class="row">
    <div class="col-12">
      <div class="card mb-1" *ngFor="let element of serverElements">
        <div class="card-header">{{ element.name }}</div>
        <div class="card-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <strong *ngIf="element.type === 'blueprint'" style="color: blue">{{ element.content }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>-->
</div>

