<div class="container">



  <hr>

  <div class="row">
    <div class="col-12">
      <div class="card mb-1" *ngFor="let element of serverElements">
        <div class="card-header">{{ element.name }}</div>
        <div class="card-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <strong *ngIf="element.type === 'blueprint'" style="color: blue">{{ element.content }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

